@charset:utf-8;
body,div,h1,p,ul,li,h3,h4,h5{ padding:0; margin:0;}
body{ background:#66FFFF; font-size:18px; font-family:"新宋体";}
#frame{ width:780px; height:auto; background:#fff; margin:0 auto; padding:50px 60px;}
#own span{ font-size:20px; }
#basic h1{ word-spacing:350%;}
#own p{ margin-left:160px;margin-top:20px;}
.section{ width:780px; height:auto; border-bottom:3px #000000 solid; padding-top:25px; position:relative;}
.floatright{ float:right; text-align:right;}
.floatright p{margin-top:10px;}
.clear{ clear:both;}
.first{ position:absolute; left:160px; top:35px; }
.educationmode{margin-top:10px;}
.second{position:absolute; right:180px; top:35px;}
.ul{position:absolute; left:185px; top:30px;}
.topdistance{ margin-top:100px;}
.educationmode,.techniquemode,.selfdiscribe,.itemmode{padding-bottom:50px;}
